# Android
*.iml
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
.idea
captures
.externalNativeBuild
.cxx
composeApp/src/commonMain/composeResources/values/secrets.xml

# Xcode
.DS_Store
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcworkspacedata
DerivedData/
*.ipa
*.dSYM
*.app
*.xcodeproj/project.xcworkspace/xcuserdata/